*_canute.bat
Thumbs.db
__pycache__
*.pyc
*.deps
*.log
*.html
bounds.json
times.txt
*_diff.png
*.echo
prefs.scad
ignored/*
ignore/*
artifacts/railcore_150_compatible/z-bracketmirror.stl.png
artifacts/railcore_150_compatible/z-bracketmirror.stl
artifacts/railcore_150_compatible/z-bracket.stl.png
artifacts/railcore_150_compatible/z-bracket.stl
artifacts/railcore_150_compatible/top_enclosure_top_door.stl.png
artifacts/railcore_150_compatible/top_enclosure_top_door.stl
artifacts/railcore_150_compatible/top_enclosure_top_door.dxf
artifacts/railcore_150_compatible/top_enclosure_top.stl.png
artifacts/railcore_150_compatible/top_enclosure_top.stl
artifacts/railcore_150_compatible/top_enclosure_top.dxf
artifacts/railcore_150_compatible/top_enclosure_right.stl.png
artifacts/railcore_150_compatible/top_enclosure_right.stl
artifacts/railcore_150_compatible/top_enclosure_right.dxf
artifacts/railcore_150_compatible/top_enclosure_left.stl.png
artifacts/railcore_150_compatible/top_enclosure_left.stl
artifacts/railcore_150_compatible/top_enclosure_left.dxf
artifacts/railcore_150_compatible/top_enclosure_handle.stl.png
artifacts/railcore_150_compatible/top_enclosure_handle.stl
artifacts/railcore_150_compatible/top_enclosure_front_door.stl.png
artifacts/railcore_150_compatible/top_enclosure_front_door.stl
artifacts/railcore_150_compatible/top_enclosure_front_door.dxf
artifacts/railcore_150_compatible/top_enclosure_front.stl.png
artifacts/railcore_150_compatible/top_enclosure_front.stl
artifacts/railcore_150_compatible/top_enclosure_front.dxf
artifacts/railcore_150_compatible/top_enclosure_back.stl.png
artifacts/railcore_150_compatible/top_enclosure_back.stl
artifacts/railcore_150_compatible/top_enclosure_back.dxf
artifacts/railcore_150_compatible/side_panel_right.stl.png
artifacts/railcore_150_compatible/side_panel_right.stl
artifacts/railcore_150_compatible/side_panel_right.dxf
artifacts/railcore_150_compatible/side_panel_left.stl.png
artifacts/railcore_150_compatible/side_panel_left.stl
artifacts/railcore_150_compatible/side_panel_left.dxf
artifacts/railcore_150_compatible/side_panel_halo.stl.png
artifacts/railcore_150_compatible/side_panel_halo.stl
artifacts/railcore_150_compatible/side_panel_halo.dxf
artifacts/railcore_150_compatible/side_panel_front.stl.png
artifacts/railcore_150_compatible/side_panel_front.stl
artifacts/railcore_150_compatible/side_panel_front.dxf
artifacts/railcore_150_compatible/side_panel_bottom.stl.png
artifacts/railcore_150_compatible/side_panel_bottom.stl
artifacts/railcore_150_compatible/side_panel_bottom.dxf
artifacts/railcore_150_compatible/side_panel_back.stl.png
artifacts/railcore_150_compatible/side_panel_back.stl
artifacts/railcore_150_compatible/side_panel_back.dxf
artifacts/railcore_150_compatible/render_railcore_150_compatible.png
artifacts/railcore_150_compatible/idler_spacer.stl.png
artifacts/railcore_150_compatible/idler_spacer.stl
artifacts/railcore_150_compatible/hinge - panel.stl.png
artifacts/railcore_150_compatible/hinge - panel.stl
artifacts/railcore_150_compatible/hinge - door.stl.png
artifacts/railcore_150_compatible/hinge - door.stl
artifacts/railcore_150_compatible/halo.stl.png
artifacts/railcore_150_compatible/halo.stl
artifacts/railcore_150_compatible/foot.stl.png
artifacts/railcore_150_compatible/foot.stl
artifacts/railcore_150_compatible/flexplate.stl.png
artifacts/railcore_150_compatible/flexplate.stl
artifacts/railcore_150_compatible/electronics_box_panel_top.stl.png
artifacts/railcore_150_compatible/electronics_box_panel_top.stl
artifacts/railcore_150_compatible/electronics_box_panel_top.dxf
artifacts/railcore_150_compatible/electronics_box_panel_right_side.stl.png
artifacts/railcore_150_compatible/electronics_box_panel_right_side.stl
artifacts/railcore_150_compatible/electronics_box_panel_right_side.dxf
artifacts/railcore_150_compatible/electronics_box_panel_left_side.stl.png
artifacts/railcore_150_compatible/electronics_box_panel_left_side.stl
artifacts/railcore_150_compatible/electronics_box_panel_left_side.dxf
artifacts/railcore_150_compatible/electronics_box_panel_bottom.stl.png
artifacts/railcore_150_compatible/electronics_box_panel_bottom.stl
artifacts/railcore_150_compatible/electronics_box_panel_bottom.dxf
artifacts/railcore_150_compatible/electronics_box_cover.stl.png
artifacts/railcore_150_compatible/electronics_box_cover.stl
artifacts/railcore_150_compatible/electronics_box_cover.dxf
artifacts/railcore_150_compatible/electronics_box_corner.stl.png
artifacts/railcore_150_compatible/electronics_box_corner.stl
artifacts/railcore_150_compatible/door.dxf
artifacts/railcore_150_compatible/door - single.stl.png
artifacts/railcore_150_compatible/door - single.stl
artifacts/railcore_150_compatible/door - single.dxf
artifacts/railcore_150_compatible/build_notes.txt
artifacts/railcore_150_compatible/bed.stl.png
artifacts/railcore_150_compatible/bed.stl
artifacts/railcore_150_compatible/bed.dxf
artifacts/railcore_150_compatible/bearing_block.stl.png
artifacts/railcore_150_compatible/bearing_block.stl
