[Desktop Entry]
Encoding=UTF-8
Name=Link to Customizable Spool Holder Base for Different Size Aluminum Extrusions by GeoDave - Thingiverse
Type=Link
URL=https://www.thingiverse.com/thing:1751711
Icon=text-html
Name[en_GB]=Attribution for extrusion
